<app-navbar></app-navbar>

<link rel="stylesheet" href="https://fonts.googleapis.com">


<div class="background">
    <div class="center1">
        <h1 class="text">Payment Page</h1>
    </div>
</div>



<div class="all">
    <div class="DNonePhone">
        <div class="centerP">
            <div class="contentP">
                <p class="Title">Total payable: 0.00</p>
                <div class="payment">
                    <div class="NOC">
                        <p class="txt">number of card*</p>
                        <input class="inputP" placeholder="2456 1665 5155 5151" type="text">
                    </div>
                    <!-- <div class="FlexRow">
                        <div class="VP">
                            <p class="txt">Validity period*</p>
                            <input class="inputP" placeholder="DD/MM/YY" type="text">
                        </div>
                        <div class="CVC">
                            <p class="txt">CVC/CVV*</p>
                            <input class="inputP" placeholder="[object Object]" type="text">
                        </div>
                    </div> -->
    
                    <div class="VP">
                        <p class="txt">Validity period*</p>
                        <input class="inputP" placeholder="DD/MM/YY" type="text">
                    </div>
                    <div class="CVC">
                        <p class="txt">CVC/CVV*</p>
                        <input class="inputP" placeholder="[object Object]" type="text">
                    </div>
    
    
                    <div class="CH">
                        <p class="txt">card holder*</p>
                        <input class="inputP" placeholder="J. Smith" type="text">
                    </div>
                </div>
            </div>
    
            <button class="Button1"><a href="/End" style="Color:White; text-decoration-line:none">pay</a></button>
        </div>
    </div>













    <div class="DNone">
        <div class="center">
            <div class="content">
                <p class="Title">Total payable: 0.00</p>
                <div class="payment">
                    <div class="NOC">
                        <p class="txt">number of card*</p>
                        <input class="input" placeholder="2456 1665 5155 5151" type="text">
                    </div>
                    <div class="FlexRow">
                        <div class="VP">
                            <p class="txt">Validity period*</p>
                            <input class="inputTwo" placeholder="DD/MM/YY" type="text">
                        </div>
                        <div class="CVC">
                            <p class="txt">CVC/CVV*</p>
                            <input class="inputTwo" placeholder="[object Object]" type="text">
                        </div>
                    </div>
                    <div class="CH">
                        <p class="txt">card holder*</p>
                        <input class="input" placeholder="J. Smith" type="text">
                    </div>
                </div>
            </div>
    
            <button class="Button1"><a href="/End" style="Color:White; text-decoration-line:none">pay</a></button>
        </div>
    </div>
</div>


<app-phone-footer class="FooterPhone"></app-phone-footer>
<app-footer class="Footer"></app-footer>