.Button2{
    border: 1px solid rgb(174, 174, 174, 0.45);
    border-radius: 5px;
    margin-right: 10px;
}

.Button2{
    color: grey;
    font-family: sans-serif;
    // border: none;
    background: none;
    height: 45px;
    width: 155px;
}

.Button2:hover{
    cursor: pointer;
}

.Button2:hover{
    cursor: pointer;
}
