<app-navbar class="Header"></app-navbar>

<app-phone-navbar class="headerPhone"></app-phone-navbar>

<link rel="stylesheet" href="https://fonts.googleapis.com">
<div class="background">
    <div class="center">
        <h1>passenger data</h1>
    </div>
</div>

<div class="DNone">
    <div class="backgroundP">
        <div class="centerP">
            <h1>passenger data</h1>
        </div>
    </div>
    
</div>


<div class="all">
    <div class="Body">
        <div class="e">
            <div class="AAAAAA">
                <div class="component1">
                    <h1 class="bomboclat">enter your details</h1>
        
        
        
        
                    <div class="cardTest">
                        <div class="row1">
                            <p class="txt1">#001</p>
                            <p class="txt1">test card</p>
                        </div>
        
        
                        <div class="Lines">
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                        </div>
        
                        <div class="row2">
                            <p class="txt1">00:35</p>
                            <p class="txt1">batumi</p>    
                        </div>    
        
        
                        <div class="Lines">
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                            <div class="lineV"></div>
                        </div>
        
        
                        <div class="row3">
                            <p class="txt1">05:47</p>
                            <p class="txt1">tbilisi</p>
                        </div>
                    </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
                    <div class="line"></div>
                    <div class="component2">
                        <div class="contact">
                            <h1 *ngIf="false">*An error occurred, All fields must be filled</h1>
                            <h1>contact information</h1>
                            <div class="input">
                                <input [(ngModel)]="Email" class="EI" type="text" placeholder="Email">
                                <input [(ngModel)]="Telephone" class="TN" type="text" placeholder="telephone number">
                            </div>
                        </div>
                        <div class="passengetList">
                            <h1 class="rah">passenger information</h1>
                            <div class="TicketList">



                                <div *ngFor="let item of listInformation" class="Dcolumn cardTemp">
                                    <h1>Passenger {{ item.id }}</h1>
                                    <div class="Dflex">
                                        <button class="Button11">Place: 0</button>
                                        <input class="inp1" type="text" placeholder="name">
                                        <input class="inp2" type="text" placeholder="last name">
                                        <input class="inp2" type="text" placeholder="personal number">
                                        <button class="Button11">choose a place</button>
                                    </div>
                                </div>











                            </div>
                            <div class="detailsIGuess">
                                <div class="Detail1">
                                    <img class="Fooe" src="https://railway.stepprojects.ge/assets/img/svg/pbag1.svg" alt="">
                                    <div>
                                        <p class="Title">Personal item</p>
                                        <p class="txt">Purse, small backpack,briefcase</p>
                                        <div class="Dflex">
                                            <img class="checked" src="https://railway.stepprojects.ge/assets/img/svg/over-check.svg" alt="">
                                            <p class="txt">included</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="Detail2">
                                    <img class="Fooe" src="https://railway.stepprojects.ge/assets/img/svg/pbag2.svg" alt="">
                                    <div>
                                        <p class="Title">Carry-on Bags</p>
                                        <p class="txt">Fits in overhead bin or under the seat</p>
                                        <div class="Dflex">
                                            <img class="checked" src="https://railway.stepprojects.ge/assets/img/svg/over-check.svg" alt="">
                                            <p class="txt">included</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="Detail3">
                                    <img class="Fooe" src="https://railway.stepprojects.ge/assets/img/svg/pbag3.svg" alt="">
                                    <div>
                                        <p class="Title">Checked Bags</p>
                                        <p class="txt">Large Bag Purse, small backpack</p>
                                        <div class="Dflex">
                                            <img class="checked" src="https://railway.stepprojects.ge/assets/img/svg/cross.svg" alt="">
                                            <p class="txt">Not Included</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
            <div class="invoice">
                <div class="DCenter">
                    <h1>invoice</h1>
                    <div>
                        <div class="component">
                            <div class="text">
                                <p>place</p>
                                <p>the price</p>
                            </div>
                            <div class="line1">
            
                            </div>
                            <div class="content">
                                <div class="Price">
                                    <div class="PriceChild">
                                        <p>all:</p>
                                        <p>0.00</p>
                                    </div>
                                </div>
                                <div class="Rules">
                                    <input type="checkbox">
                                    <p>i have read and agreed to the rules</p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <button class="Button1" (click)="Sub()"><a (click)="Sub()" routerLink="/Payment" style="Color:White; text-decoration-line:none">Ticket registration</a></button>
                </div>
            </div>
        </div>
    </div>



    <!-- ################# PHONE ###################################################################################################### -->












    <div class="BodyPhone">
        <div class="eP">
            <div class="AAAAAA">
                <div class="component1P">
                    <h1 class="bomboclat">enter your details</h1>
    
    
                    <div class="scroll">
                        <div class="cardTestP">
                            <div class="row1">
                                <p class="txt1">#001</p>
                                <p class="txt1">test card</p>
                            </div>
        
        
                            <div class="Lines">
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                            </div>
        
                            <div class="row2">
                                <p class="txt1">00:35</p>
                                <p class="txt1">batumi</p>    
                            </div>    
        
        
                            <div class="Lines">
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                                <div class="lineV"></div>
                            </div>
        
        
                            <div class="row3">
                                <p class="txt1">05:47</p>
                                <p class="txt1">tbilisi</p>
                            </div>
                        </div>
                    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
                    <div class="lineP"></div>
                    <div class="component2P">
                        <div class="contact">
                            <h1 *ngIf="false">*An error occurred, All fields must be filled</h1>
                            <h1>contact information</h1>
                            <div class="inputP">
                                <input class="EI" type="text" placeholder="Email">
                                <input class="TNP" type="text" placeholder="telephone number">
                            </div>
                        </div>
                        <div class="passengerListP">
                            <h1 class="rah">passenger information</h1>
                                <div class="TicketListP">
    
    
    
                                    <div *ngFor="let item of listInformation" class="Dcolumn cardTemp">
                                        <h1>Passenger {{ item.id }}</h1>
                                        <div class="Dflex">
                                            <button class="Button11P">Place: 0</button>
                                            <input class="inp1P" type="text" placeholder="name">
                                            <input class="inp2P" type="text" placeholder="last name">
                                            <input class="inp2P" type="text" placeholder="personal number">
                                            <button class="Button11P">choose a place</button>
                                        </div>
                                    </div>
    
    
    
    
    
    
    
    
    
    
    
                                </div>
                            <div class="detailsIGuessP">
                                <div class="Detail1">
                                    <img class="Fooe" src="https://railway.stepprojects.ge/assets/img/svg/pbag1.svg" alt="">
                                    <div>
                                        <p class="Title">Personal item</p>
                                        <p class="txt">Purse, small backpack,briefcase</p>
                                        <div class="Dflex">
                                            <img class="checked" src="https://railway.stepprojects.ge/assets/img/svg/over-check.svg" alt="">
                                            <p class="txt">included</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="Detail2">
                                    <img class="Fooe" src="https://railway.stepprojects.ge/assets/img/svg/pbag2.svg" alt="">
                                    <div>
                                        <p class="Title">Carry-on Bags</p>
                                        <p class="txt">Fits in overhead bin or under the seat</p>
                                        <div class="Dflex">
                                            <img class="checked" src="https://railway.stepprojects.ge/assets/img/svg/over-check.svg" alt="">
                                            <p class="txt">included</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="Detail3">
                                    <img class="Fooe" src="https://railway.stepprojects.ge/assets/img/svg/pbag3.svg" alt="">
                                    <div>
                                        <p class="Title">Checked Bags</p>
                                        <p class="txt">Large Bag Purse, small backpack</p>
                                        <div class="Dflex">
                                            <img class="checked" src="https://railway.stepprojects.ge/assets/img/svg/cross.svg" alt="">
                                            <p class="txt">Not Included</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lineP"></div>
                </div>
            </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
            <div class="invoiceP">
                <div class="DCenterP">
                    <h1>invoice</h1>
                    <div>
                        <div class="component">
                            <div class="text">
                                <p>place</p>
                                <p>the price</p>
                            </div>
                            <div class="line1P">
            
                            </div>
                            <div class="contentP">
                                <div class="PriceP">
                                    <div class="PriceChildP">
                                        <p>all:</p>
                                        <p>0.00</p>
                                    </div>
                                </div>
                                <div class="Rules">
                                    <input type="checkbox">
                                    <p>i have read and agreed to the rules</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="EAAA">
                        <button class="Button1P" (click)="Sub()"><a (click)="Sub()" routerLink="/Payment" style="Color:White; text-decoration-line:none">Ticket registration</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>











































</div>

<div class="Footer">
    <app-footer></app-footer>
    <div class="backgroundFooter"></div>
</div>

<div class="FooterPhone">
    <app-phone-footer></app-phone-footer>
</div>