<div class="all">
    <div class="Foo">
        <div class="Content">
            <div class="FlexRow">
                <img src="https://railway.stepprojects.ge/assets/img/logo/logo.png" alt="">
                <button class="raah"><a routerLink="/Check Ticket" style="Color:White; text-decoration-line:none">Ticket check/return</a></button>
            </div>
            <div class="FlexColumn">
                <h1>Buy train tickets online</h1>
                <p>I wish you a happy journey</p>
            </div>
        </div>
    
    
    
    
    
    
        <div class="background">
            <div>
                <div class="Content1">
                    <h1>Book a train ticket</h1>
                    <div class="Row3">
                        <div class="DDMenu1">
                            <button class="Button1">from where</button>
                            <div class="DDContent">
                                <p>from where</p>
                                <button>tbilisi</button>
                                <button>batumi</button>
                                <button>poti</button>
                            </div>
                        </div>
                        <div class="DDMenu1">
                            <button class="Button2">where</button>
                            <div class="DDContent">
                                <p>where</p>
                                <button>tbilisi</button>
                                <button>batumi</button>
                                <button>poti</button>
                            </div>
                        </div>
                        <input class="date" type="date">
                        <input type="text" placeholder="Number of passengers" class="NoP">
                        <button class="Submit"><a class="ButtonText" style="Color:White; text-decoration-line:none" routerLink="/Trains">Find trains</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>