




















<div class="Background">

    <div class="Content">
        <div class="container">
            <div class="Row1">
                <img src="https://railway.stepprojects.ge/assets/img/logo/logo.png" alt="logo steprailway">
                <button class="Button1"><a routerLink="/Check Ticket" style="Color:White; text-decoration-line:none">Ticket check/return</a></button>
            </div>
            <div class="Row2">
                <h1>Buy train tickets online</h1>
                <p>I wish you a happy journey</p>
            </div>
        </div>


        <app-card></app-card>

        
    </div>
</div>