<div class="Background">
    <div class="Content">
        <div class="container">
            <div class="Row1">
                <img src="https://railway.stepprojects.ge/assets/img/logo/logo.png" alt="logo steprailway">
                <button class="Button1"><a routerLink="/Check Ticket" style="Color:White; text-decoration-line:none">Ticket check/return</a></button>
            </div>
            <div class="Row2">
                <h1>Buy train tickets online</h1>
                <p>I wish you a happy journey</p>
            </div>
        </div>
        <div class="Card">
            <div class="Content1">
                <h1>Book a train ticket</h1>
                <div class="Row3">
                    <div class="DDMenu1">
                        <div class="Button2">
                            <button>from where</button>
                            <img src="" alt="">
                        </div>
                        <div class="DDContent">
                            <p>from where</p>
                            <button>tbilisi</button>
                            <button>batumi</button>
                            <button>poti</button>
                        </div>
                    </div>
                    <div class="DDMenu1">
                        <div class="Button2">
                            <button>where</button>
                            <img src="" alt="">
                        </div>
                        <div class="DDContent">
                            <p>where</p>
                            <button>tbilisi</button>
                            <button>batumi</button>
                            <button>poti</button>
                        </div>
                    </div>
                    <div class="DateSelection">
                        <input type="date">
                    </div>
                    <input type="text" placeholder="Number of passengers" class="NoP">
                    <button class="Submit"><a class="ButtonText" style="Color:White; text-decoration-line:none" routerLink="/Trains">Find trains</a></button>
                </div>
            </div>
        </div>
    </div>
</div>