<app-navbar></app-navbar>

<div class="background">
    <div class="content">
        <div class="card">
            <div class="input">
                <p style="font-family: sans-serif;">ticket number</p>
                <div class="border">
                    <input class="inputTxt" style="font-family: sans-serif;" type="text">
                </div>
            </div>
            <button style="font-family: sans-serif;" class="Button1">checking</button>
        </div>
        <div class="popup">
            <h1 style="font-family: sans-serif;">No such ticket found, check the ticket number</h1>
        </div>
    </div>
</div>
<div style="overflow: hidden;">
    <div class="foo">
        <app-footer></app-footer>
        <div class="backgroundFooter">
        
        </div>
    </div>
</div>