<div class="background">
    <div class="Content">
        <img src="https://railway.stepprojects.ge/assets/img/train/trainticket.png" class="img12" alt="">
        <div class="Text">
            <h1>train tickets</h1>
            <p>To purchase railway tickets, you will need a personal number for each passenger.<br>
                Please prepare this information in advance.</p>
            <div class="items">
                <div class="item">
                    <img src="https://railway.stepprojects.ge/assets/img/train/unoffer.png" class="img" alt="">
                    <p>Unlimited offers</p>
                </div>
                <div class="item">
                    <img src="https://railway.stepprojects.ge/assets/img/train/suppor24.png" class="img" alt="">
                    <p>24X7 support</p>
                </div>
                <div class="item">
                    <img src="https://railway.stepprojects.ge/assets/img/train/secure100.png" class="img" alt="">
                    <p>100% safe</p>
                </div>
                <div class="item">
                    <img src="https://railway.stepprojects.ge/assets/img/train/truspay.png" class="img" alt="">
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</div>