<link rel="stylesheet" href="https://fonts.googleapis.com">


<app-navbar></app-navbar>




<div class="all">
    <div class="Body">
        <div class="background">
            <div class="center">
                <h1>Chooser your preferred train</h1>
            </div>
        </div>
        
        <div class="background1">
            <div class="content">
                <h1 class="H1Foo">List of trains</h1>
                <div>
                    <div class="foo" *ngIf="Visible">
                        <div class="bar">
                            <p class="txt">train name</p>
                            <p class="txt">departure</p>
                            <p class="txt">sunset</p>
                        </div>
                        <div class="cardList">
        
        
        
        
        
        
        
        
        
        
        
        
        
        
                            
                            <div class="cardTest">
                                <div class="row1">
                                    <p class="txt1">#812</p>
                                    <p class="txt1">Tbilisi-Batumi Express</p>
                                </div>
            
            
                                <div class="Lines">
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                </div>
            
                                <div class="row2">
                                    <p class="txt1" [(ngModel)]="TS1">00:35</p>
                                    <p class="txt1">Tbilisi</p>    
                                </div>    
            
        
                                <div class="Lines">
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                </div>
            
        
                                <div class="row3">
                                    <p class="txt1" [(ngModel)]="TE1">05:47</p>
                                    <p class="txt1">Batumi</p>    
                                </div>    
        
        
                                <div class="Lines">
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                </div>
            
            
                                <button class="Button1" (click)="C1()"><a (click)="C1()" routerLink="/Data" style="Color:White; text-decoration-line:none">reservation</a></button>
                            </div>
        
        <!-- ########################################################################################################################################################### -->


                            <div class="cardTest">
                                <div class="row1">
                                    <p class="txt1">#808</p>
                                    <p class="txt1">Tbilisi-Batumi Express</p>
                                </div>
            
            
                                <div class="Lines">
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                </div>
            
                                <div class="row2">
                                    <p class="txt1" [(ngModel)]="TS2">10:25</p>
                                    <p class="txt1">Tbilisi</p>    
                                </div>    
            
        
                                <div class="Lines">
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                </div>
            
        
                                <div class="row3">
                                    <p class="txt1" [(ngModel)]="TE2">15:38</p>
                                    <p class="txt1">Batumi</p>    
                                </div>    
        
        
                                <div class="Lines">
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                </div>
            
            
                                <button class="Button1" (click)="C2()"><a (click)="C2()" routerLink="/Data" style="Color:White; text-decoration-line:none">reservation</a></button>
                            </div>
        
<!-- ########################################################################################################################################################### -->


                            <div class="cardTest">
                                <div class="row1">
                                    <p class="txt1">#804</p>
                                    <p class="txt1">Tbilisi-Batumi Express</p>
                                </div>
            
            
                                <div class="Lines">
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                </div>
            
                                <div class="row2">
                                    <p class="txt1" [(ngModel)]="TS3">17:05</p>
                                    <p class="txt1">Tbilisi</p>    
                                </div>    
            
        
                                <div class="Lines">
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                </div>
            
        
                                <div class="row3">
                                    <p class="txt1" [(ngModel)]="TE3">22:17</p>
                                    <p class="txt1">Batumi</p>    
                                </div>    
        
        
                                <div class="Lines">
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                    <div class="lineV"></div>
                                </div>
            
            
                                <button class="Button1" (click)="C3()"><a (click)="C3()" routerLink="/Data" style="Color:White; text-decoration-line:none">reservation</a></button>
                            </div>
        
        
        
        
        
        
        
        
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>

<div class="backgroundP">
    <div class="centerP">
        <h1>Chooser your preferred train</h1>
    </div>
</div>




<div class="allP">

    <div class="BodyPhone">
        
        <div class="background1P">
            <div class="contentP">
                <h1 class="H1FooP">List of trains</h1>
                <div>
                    <div class="fooP">
                        <div class="cardListP">
        
        
                            <div class="barP">
                                <p class="txtP">train name</p>
                                <p class="txtP">departure</p>
                                <p class="txtP">sunset</p>
                            </div>
        
        
        
        
        
        
        
        
        
        
        
                            
                            <div class="e">
                                <div class="cardTest">




                                    <div class="row1">
                                        <p class="txt1">#812</p>
                                        <p class="txt1">Tbilisi-Batumi Express</p>
                                    </div>
                
                
                                    <div class="Lines">
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                    </div>
                
                                    <div class="row2">
                                        <p class="txt1">00:35</p>
                                        <p class="txt1">Tbilisi</p>    
                                    </div>    
                
            
                                    <div class="Lines">
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                    </div>
                
            
                                    <div class="row3">
                                        <p class="txt1">05:47</p>
                                        <p class="txt1">Batumi</p>    
                                    </div>    
            
            
                                    <div class="Lines">
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                    </div>
                
                
                                    <button class="Button1"><a routerLink="/Data" style="Color:White; text-decoration-line:none">reservation</a></button>
                                </div>



<!-- #################################################################################################################################################################### -->



                                <div class="cardTest">




                                    <div class="row1">
                                        <p class="txt1">#808</p>
                                        <p class="txt1">Tbilisi-Batumi Express</p>
                                    </div>
                
                
                                    <div class="Lines">
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                    </div>
                
                                    <div class="row2">
                                        <p class="txt1">10:25</p>
                                        <p class="txt1">Tbilisi</p>    
                                    </div>    
                
            
                                    <div class="Lines">
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                    </div>
                
            
                                    <div class="row3">
                                        <p class="txt1">15:38</p>
                                        <p class="txt1">Batumi</p>    
                                    </div>    
            
            
                                    <div class="Lines">
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                    </div>
                
                
                                    <button class="Button1"><a routerLink="/Data" style="Color:White; text-decoration-line:none">reservation</a></button>
                                </div>
        
        
        
<!-- #################################################################################################################################################################### -->
        
        
        
        
                                <div class="cardTest">




                                    <div class="row1">
                                        <p class="txt1">#804</p>
                                        <p class="txt1">Tbilisi-Batumi Express</p>
                                    </div>
                
                
                                    <div class="Lines">
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                    </div>
                
                                    <div class="row2">
                                        <p class="txt1">17:05</p>
                                        <p class="txt1">Tbilisi</p>    
                                    </div>    
                
            
                                    <div class="Lines">
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                    </div>
                
            
                                    <div class="row3">
                                        <p class="txt1">22:17</p>
                                        <p class="txt1">Batumi</p>    
                                    </div>    
            
            
                                    <div class="Lines">
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                        <div class="lineV"></div>
                                    </div>
                
                
                                    <button class="Button1"><a routerLink="/Data" style="Color:White; text-decoration-line:none">reservation</a></button>
                                </div>
        
        
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="Footer">
    <app-footer></app-footer>
    <div class="backgroundFooter">
</div>
</div>

<div class="FooterPhone">
    <app-phone-footer></app-phone-footer>
</div>
